
@import "./reset.scss";
@import "./media_gueries.scss";
@import "./variables.scss";
@import "./header.scss";
@import "./hero_section.scss";




body {
  color: $textColor;
  font-family: $font-roboto;
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 200px;

  @include respond(phone) {
    padding-top: 130px;
  }
  
}






