
$productColor:  #3146FF;
$textColor: #000000;
$backgroundColor: #F7F7F7;
$secondaryColor: #01FFCB;

$font-roboto: 'Roboto', sans-serif;
$font-poppins: 'Poppins', sans-serif; 

$fs-huge: 70px;
$fs-big: 30px;
$fs-small: 19px;
$fs-xsmall: 17px;

$metric-xsmall: 10px;
$metric-small: 20px;
$metric-base: 30px;
$metric-medium: 40px;
$metric-large: 60px;
$metric-xlarge: 90px;
$metric-xxlarge: 120px;

